spring:
  application:
    name: discovery-server
eureka:
  instance:
    hostname: ${EUREKA_HOST:discovery-server}
  client:
    register-with-eureka: false
    fetch-registry: false
server:
  port: ${SERVER_PORT:8761}
