spring:
  application:
    name: document-initiation-service
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.mongo.MongoAutoConfiguration

  cloud:
    discovery:
      client:
        simple:
          instances:
              auth-service:
                - uri: ${AUTH_SERVICE_URL:http://auth-service:8082} # adjust if different

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/authrealm
          # Or, if needed:
          # jwk-set-uri: https://auth.qssence.com/realms/authrealm/protocol/openid-connect/certs

  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:postgres}:${POSTGRES_PORT:5432}/keycloakdb
    username: ${POSTGRES_USER:keycloak}
    password: ${POSTGRES_PASSWORD:root}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URL:http://discovery-server:8761/eureka/}

aws:
  access-key: AKIA4Z47JXMANZPYA56N
  secret-key: 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
  region: us-east-1
  s3:
    bucket: qssence-bucket

server:
  port: ${SERVER_PORT:8084}


management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
  health:
    mongo:
      enabled: false
#spring:
#  application:
#    name: document-initiation-service
#
#  cloud:
#    discovery:
#      client:
#        simple:
#          instances:
#            auth-service:
#              - uri: http://localhost:8082
#
#  datasource:
#    url: jdbc:postgresql://localhost:5432/document-initiation
#    username: postgres
#    password: root
#    driver-class-name: org.postgresql.Driver
#
#  jpa:
#    hibernate:
#      ddl-auto: update
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.PostgreSQLDialect
#
#  security:
#    oauth2:
#      resourceserver:
#        jwt:
#          issuer-uri: http://localhost:8080/realms/authrealm
#
#server:
#  port: 8084
#
#eureka:
#  client:
#    service-url:
#      defaultZone: http://localhost:8761/eureka/
#
#aws:
#  access-key: AKIA4Z47JXMANZPYA56N
#  secret-key: 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
#  region: us-east-1
#  s3:
#    bucket: qssence-bucket
